#container {
  height: 100%;
  display: flex;

  .tab-options {
  }
  .left {
    flex-grow: 1;
  }
  .right {
    flex-grow: 7;
    padding: 20px;
  }

  .editor {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    .tab {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.5s;
      opacity: 0;
      z-index: 0;
      &.active {
        z-index: 1;
        opacity: 100%;
      }
    }

    .code-tab {
    }
    .preview-tab {
    }
  }
}
