#section-manager {
  height: 100%;
  width: 100%;
  text-align: center;

  h2 {
    font-weight: medium;
  }
  .manager {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    & > div {
      margin: auto;
    }
  }
  .manage-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    img {
      height: 50px;
      width: auto;
      margin-right: 20px;
    }
  }
  .line {
    width: 3px;
    height: 30px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
  }
  .plus {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    &:hover {
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    }
  }
  .section {
    width: 60%;
    height: 40px;
    position: relative;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);

    span {
      position: absolute;
      left: 10px;
      top: 7px;
    }
    .up,
    .down,
    .delete {
      opacity: 0.5;
      cursor: pointer;
      position: absolute;
      width: 15px;
      height: auto;
      &:hover {
        opacity: 0.9;
      }
    }
    .up {
      right: 10px;
      top: 3px;
    }
    .down {
      transform: rotate(180deg);
      right: 10px;
      bottom: 3px;
    }
    .delete {
      width: 20px;
      right: 35px;
      top: 8px;
    }
  }
}
#selecting-window {
  z-index: 2;
  height: 100vh;
  width: 40%;
  min-width: 330px;
  background: rgb(255, 213, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 213, 0, 1) 0%,
    rgba(253, 197, 0, 1) 100%
  );
  h1 {
    border-right: 5px solid rgba(0, 0, 0, 0.9);
  }
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  transition-timing-function: ease;
  transform: translateX(-100%);
  overflow-y: scroll;
  &.active {
    transform: translateX(0);
  }
  h2 {
    font-weight: medium;
  }
  .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 22px;
    right: 20px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    z-index: 1;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.7;
    &:hover {
      opacity: 1;
      transform: rotate(45deg);
    }
  }

  @media (max-width: 800px) {
    width: 100%;
  }
  img {
    width: 50%;
    padding: 5px;
    cursor: pointer;
    &:hover {
      transform: scale(1.04);
    }
  }

  .accordion {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    &:after {
      content: "\02795";
      font-size: 13px;
      float: right;
      margin-left: 5px;
    }

    &.active:after {
      content: "\2796";
    }
  }
  .active,
  .accordion:hover {
    background-color: white;
  }
  button {
    font-size: 16px;
    font-family: inherit;
  }
}
.panel {
  padding: 0 18px;
  background: rgb(231, 231, 231);
  display: none;
  overflow: hidden;
}
